# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../basico-javafx\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../:\Users\coelh\Desktop\basico-javafx\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
